---
import HeaderLink from './HeaderLink.astro';
import DarkModeToggle from './DarkmodeToggle';
import { SITE_TITLE } from '../consts';
---

<header>
    <nav>
        <h2><a href="/">{SITE_TITLE}</a></h2>
        <div class="internal-links">
            <HeaderLink href="/">Categories</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
        </div>
        <div class="theme-toggle">
            <DarkModeToggle client:load />
        </div>
    </nav>
</header>
<style>
    header {
        margin: 0;
        padding: 0 0.2.5em;
        background: white;
        box-shadow: 0 2px 8px rgba(var(--black) / 5%);
    }
    h2 {
        margin: 0;
        font-size: 0.9em;
    }
    h2 a,
    h2 a.active {
        text-decoration: none;
        color: rgb(var(--black) / 1);
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em 0;
    }
    nav a {
        padding: 0.5em 0.25em;
        color: rgb(var(--black) / 1);
        border-bottom: 2px solid transparent;
        text-decoration: none;
        font-size: 0.9em;
    }
    nav a.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }
    .internal-links {
        display: flex;
        gap: 0.5em;
    }
    @media (min-width: 720px) {
        header {
            padding: 0 1em;
        }
        h2 {
            font-size: 1em;
        }
        nav {
            padding: 0.5em 0;
        }
        nav a {
            padding: 1em 0.5em;
            font-size: 1em;
            border-bottom-width: 3px;
        }
        .internal-links {
            gap: 1em;
        }
    }
    /* Dark mode styles */
    :global(.dark) header {
        background: rgb(17 24 39);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }
    :global(.dark) h2 a,
    :global(.dark) h2 a.active,
    :global(.dark) nav a {
        color: white;
    }
    :global(.dark) nav a.active {
        border-bottom-color: var(--accent);
    }
</style>
